<!DOCTYPE html>
<html lang="en">
<head>
    <title>学生选题管理</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/uniform.css"/>
    <link rel="stylesheet" href="css/select2.css"/>
    <link rel="stylesheet" href="css/studentstyle.css"/>
    <link rel="stylesheet" href="css/matrix-style.css"/>

    <link rel="stylesheet" href="css/matrix-media.css"/>
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    <style>
        .box{
            display: none;
        }
        td{
            text-align: center !important;
        }
    </style>
    <script id="test1" type="text/artTemplate">
        {{each data as value i}}
        <tr>
            <td class="gradeX btn_row">{{i+1}}</td>
            <td class="gradeX btn_row">{{data[i].titleName}}</td>
            <td class="gradeX btn_row">{{data[i].titleID}}</td>
            <td class="gradeX btn_row">{{data[i].titleSource}}</td>
            <td class="gradeX btn_row">{{data[i].tno}}</td>
            <td>
                <button class=" btn btn-primary confirm" style="width: 90px">
                    {{if data[i].titleState==0}}
                        未发布
                    {{else}}
                        {{if data[i].titleXTS==1}}
                            已被选择
                        {{else}}
                            确认选择
                        {{/if}}
                    {{/if}}
                </button>
                <button class=" btn btn-warning cancel" style="width: 90px">
                    {{if data[i].titleXTS==1}}
                        取消选题
                    {{else if data[i].titleXTS==2}}
                        无法取消
                    {{else}}
                    未选择
                    {{/if}}
                </button>
            </td>
        </tr>
        {{/each}}
    </script>
    <script src="js/template-web.js"></script>
</head>
<body>
<!--Header-part-->
<div id="header">
     <h1>logo</h1>
	 <div style="height: 30px;"><span style="color:#9c9c9c ;display:block; float: right;font-size: 20px; margin-right: 100px;" >欢迎您：<b id="welcome" style="color: #fff;"></b></span></div>
</div>
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
    <ul>
        <li class="showOrHidden" value="0"><a href="javascript:void(0)"><i class="icon icon-th"></i> <span>题目查询</span></a></li>
        <li class="submenu open"><a href="javascript:void(0)"><i class="icon icon-th-list"></i> <span>个人中心</span> </a>
		<ul>
			<li class="showOrHidden" value="1"><a href="javascript:void(0)">修改密码</a></li>
			<li class="active showOrHidden" value="2"><a href="javascript:void(0)">查看个人信息</a></li>
		</ul>
        </li>
		<li class="submenu">
			<a href="javascript:void(0)"><i class="icon icon-th-list"></i> <span>注销</span> </a>
		<ul>
			<li class="" value="1"><a href="../login.html">注销</a></li>
		
		</ul>
		</li>
    </ul>
</div>
<!--题目查询-->
<div class="content box">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">学生选题管理</a></div>
        <h2   style="padding-left: 50px">学生选题管理</h2>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content">
                        <div class="controls">
                            <div>
                                <span>届数：</span><input type="text" placeholder=请输入届数 class="span2 m-wrap">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>请输入题目编号：</span><input type="text" placeholder="请输入题目编号" class="span2 m-wrap">
                                <button class="margin_top btn btn-warning">查询</button>
                            </div>


                        </div>
                        <div class="widget-content nopadding">
                            <div class="widget-box">

                            </div>

                            <div class="widget-box">
                                <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                                    <h5>Data table</h5>
                                </div>
                                <div class="widget-content nopadding">
                                    <table class="table table-bordered data-table" id="example">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>题目名称</th>
                                            <th>题目编号</th>
                                            <th>题目来源</th>
                                            <th>老师工号</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="example1">
                                        <!--<tr class="gradeX btn_row">-->
                                            <!--<td>1</td>-->
                                            <!--<td>Trident</td>-->
                                            <!--<td> Internet-->
                                                <!--Explorer 4.0-->
                                            <!--</td>-->
                                            <!--<td>Win 95+</td>-->
                                            <!--<td class="center">4</td>-->
                                            <!--<td>-->
                                                <!--<button class=" btn btn-primary">确认选择</button>-->
                                                <!--<button class=" btn btn-warning">取消选择</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--修改密码-->
<div class="content box">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">修改密码</a></div>
        <h2   style="padding-left: 50px">修改密码</h2>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span4" style="margin-left:120px;width:800px">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>信息查看</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="#" method="get" class="form-horizontal" disabled="true">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">请输入新密码:</label>
                                    <div class="controls">
                                        <input type="password" class="span11" placeholder="请输入新密码" id="newPasswordOne"/>
                                    </div>

                                </div>
                                <div class="control-group">
                                    <label class="control-label">请再次输入新密码 :</label>
                                    <div class="controls">
                                        <input type="password" class="span11" placeholder="请再次输入新密码" id="newPasswordTwo"/>
                                    </div>
                                </div>

                            </fieldset>


                            <div class="form-actions" style="text-align: center;">
                                <button type="button" class="btn btn-success" id="passwordBtn">确认</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--查看个人信息-->
<div class="content box" style="display: block">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">个人信息</a></div>
        <h2  style="padding-left: 50px">个人信息</h2>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span4" style="margin-left:120px;width:800px">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>信息查看</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="#" method="get" class="form-horizontal" disabled="true">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">姓名:</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" disabled="disabled"
                                               id="name"/>
                                    </div>

                                </div>
                                <div class="control-group">
                                    <label class="control-label">学号 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" disabled="disabled"
                                               id="studentId"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">专业 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" disabled="disabled"
                                               id="major"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">年级 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" disabled="disabled"
                                               id="grade"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">邮箱 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" id="email"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">电话 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" id="tell"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">绩点 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="可输入部分" disabled="disabled"
                                               id="jidian"/>
                                    </div>
                                </div>

                            </fieldset>


                            <div class="form-actions" style="text-align: center;">
                                <button type="button" id="editBtn" class="btn btn-success">编辑个人信息</button>
                                <button type="button" class="btn btn-success" id="subBtn">提交修改</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.tables.js"></script>
<script type="text/javascript">
$(function () {


    //向后端传值得到学生的数据
    var URL = location.href;
    var re1 = new RegExp('(\\?|&)?number=([^&]*)');
    var re2 = new RegExp('(\\?|&)?TableType=([^&]*)');
    $.ajax({
        url: "http://172.20.10.4:8080/Web/Look_pers",
        data: {"number": re1.exec(URL)[2], "TableType": re2.exec(URL)[2]},
        type: "GET",
        success: function (data) {
            $("#name").val(data[0].sname);
            $("#studentId").val(data[0].sno);
            $("#major").val(data[0].smajor);
            $("#grade").val(data[0].sgrade);
            $("#email").val(data[0].semail);
            $("#tell").val(data[0].sphone);
            $("#jidian").val(data[0].jidian);
        },
        error: function () {

        }
    });



    //点击按钮提交修改密码
    $("#passwordBtn").click(function () {
        if($("#newPasswordOne").val()===$("#newPasswordTwo").val())
        {
            $.ajax({
                url: "http://172.20.10.4:8080/Web/Rset_stu",
                data: {"Sno":$("#studentId").val(),"password": $("#newPasswordOne").val()},
                type: "GET",
                success: function (data) {
                    alert("操作成功！");
                },
                error: function () {
                    alert("修改失败，请稍后重试");
                }
            });
        }
        else
        {
            alert("两次输入密码不一致");
        }
    });




    //点击按钮修改个人信息
    $("#subBtn").click(function () {
        $.ajax({
            url: "http://172.20.10.4:8080/Web/Update_stu",
            data: {"Sno": $("#studentId").val(), "Semail": $("#email").val(), "Sphone": $("#tell").val()},
            type: "GET",
            success: function (data) {
                alert("操作成功！");
            },
            error: function () {
                alert("修改失败，请稍后重试");
            }
        });
    });


    //显示选题的数据
    function xrOptionTitle() {
        $.ajax({
            url: "http://172.20.10.4:8080/Web/stu_show",
            type: "GET",
            success: function (data) {
                var html=template("test1",{data:data});
                $("#example1").html(html);
                //点击选择或取消按钮实现选题功能
                $(".confirm").click(
                    function () {
                        if(this.innerText==="确认选择")
                        {
                            $.ajax({
                                url: "http://172.20.10.4:8080/Web/stu_choose",
                                type: "GET",
                                data:{"TitleID":$(this).parent().parent().children()[2].innerText,"Sno":$("#studentId").val(),"Tno":$(this).parent().parent().children()[4].innerText},
                                success: function (data) {
                                    alert(data[0].msg);
                                    xrOptionTitle();
                                },
                                error: function () {

                                }
                            });
                        }
                        else
                        {
                            alert("无法选择");
                        }
                    }
                );



                $(".cancel").click(
                    function () {
                        if(this.innerText==="取消选题")
                        {

                            $.ajax({
                                url: "http://172.20.10.4:8080/Web/stu_cancal",
                                type: "GET",
                                data:{"TitleID":$(this).parent().parent().children()[2].innerText},
                                success: function (data) {
                                    alert(data[0].msg);
                                    xrOptionTitle()
                                },
                                error: function () {

                                }
                            });
                        }
                        else
                        {
                            alert("无法取消");
                        }
                    }
                );

            },
            error: function () {

            }
        });
    }
    xrOptionTitle();
    //点击切换显示或隐藏
    var showOrHidden=$(".showOrHidden");
    showOrHidden.click(
        function () {
            $(".box").hide();
            $($(".box")[this.value]).show();
            showOrHidden.removeClass("active");
            $(this).addClass("active");
        }

    );

	
	//获得用户信息并显示
	var URL = location.href;
	var re1 = new RegExp('(\\?|&)?number=([^&]*)');
	var re2 = new RegExp('(\\?|&)?TableType=([^&]*)');
	$.ajax({
	    url: "http://172.20.10.4:8080/Web/show_user",
	    data: {"UID": re1.exec(URL)[2]},
	    type: "GET",
	    success: function (data) {
	      
	       $("#welcome").append(data[0].uname);
	    },
	    error: function () {
	
	    }
	});
})

</script>

</body>


</html>
